/*
    Author : Júlio V. Melo.
    Site : juliovmelo.com.br
*/



/*cor1 #3E2723*/
/*cor2 #BCAAA4*/

/*------ CSS RESET -----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 100%;
}

/*img,*/
/*object,*/
/*embed,*/
/*video,*/
/*iframe,*/
/*iframe['style']{*/
    /*max-width:100%;*/
    /*height: auto;*/
/*}*/

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: inherit;
}

/*------ FIM CSS RESET -----*/

/*----- CSS GERAL -----*/
body{
    /*font-family: "helvetica";*/
    font-family: 'Sintony', sans-serif;
    color: #fff;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.content{
    margin: 0 auto;
    width: 90%;
}
/*----- FIM CSS GERAL -----*/

/*----- HEADER -----*/
header{
    width: 100%;
    background-color:#3E2723;
}

header .content{
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

header h1{
    width: 90px;
    float: left;
}
header h1 img{
    width: 100%;
}

header .btn-mobile{
    float: right;
    width: 50px;
    text-align: right;
    font-size: 3.2em;
    padding-top: 10px;
    height: auto;
}

header .btn-mobile i{
    width: 100%;
    text-align: center;
}

header .btn-mobile i:hover{
    color:#BCAAA4 ;
}

header .content .menu{
    padding-top: 10px;
    display: none;
}

header .content .menu li{
    border-top: 2px solid #BCAAA4;
    font-size: 1.3em;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}
header .content .menu ul li a{
    display: block;
}
header .content .menu ul li:hover{
    color: #fff;
}

header .content .menu ul li:active{
    color: #3E2723;
    background-color: #BCAAA4;
}
/*----- FIM HEADER -----*/

/*----- APRESENTAÇãO -----*/
.apresentacao {
    background-image: url(../img/homem-rezando.jpeg);
    background-size: cover;
    height: 280px;
    background-position: center left;
}

.apresentacao .content p{
    text-align: center;
    padding-top: 120px;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    color: #fff;
}
/*----- FIM APRESENTAÇÃO -----*/

/*----- SOBRE -----*/
.sobre {
    background: #3E2723;
    padding-bottom: 30px;
    padding-top: 30px;
}
.sobre h2{
    text-align: center;
    color: #fff;
    font-size: 1.8em;
}

.sobre p{
    padding-top: 20px;
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
}
/*----- FIM SOBRE -----*/
/*----- SLIDE IMAGENS -----*/
.slide-imagens{
    background: #BCAAA4;
}
.slide-imagens h2{
    text-align: center;
    font-size: 1.8em;
    color: #3E2723;
    padding-bottom: 20px;
}
.slide-imagens i{
    font-size: 2em;
    color: #3E2723;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.slide-imagens .content{
    height: auto;
    width: 98%;
    padding-top: 30px;
}
.slide-imagens .content img{

    max-width: 100%;

    border-radius: 5px;
    border: 5px solid #3E2723;
    margin-bottom: 10px;
    box-shadow: 20px 10px 15px #3e2723;
}

/*----- FIM SLIDE IMAGENS -----*/
/*----- AGENDA -----*/
.agenda{
    background-color: #3E2723;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.agenda h2{
    text-align: center;
    font-size: 1.4em;
}
.agenda i{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding-bottom: 20px;
}
.agenda .dia{
font-size: 1.2em;
    padding-top: 15px;
}
.agenda .evento{
    font-weight: bold;
    font-style: italic;
}
/*----- FIM AGENDA -----*/
/*----- PASSAGEM BIBLICA -----*/
.passagem-biblica{
    background:url("../img/bg-passagem.jpg");
    background-size: cover;
}

.passagem-biblica p{
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: #fff;
}
/*----- FIM PASSAGEM BIBLICA -----*/
/*----- FOTOS -----*/
.equipe{
    color: #3E2723;
    background-color: #fff;
}
.equipe h2{
    padding-top: 30px;
    color: #3E2723;
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: groove 2px #BCAAA4;
}
.equipe .img-profile{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.equipe .content .img-profile .nome{
    font-weight: bold;
    padding-bottom: 2.5px;
    text-transform: uppercase;
    text-align: center;
}

.equipe .content .img-profile .funcao{
    border-top: 1px solid #d35400;
    padding-top: 2.5px;
    font-style: italic;
    width: 140px;
    margin: 0 auto;
}
.equipe img{
    border-radius: 50%;
    width: 170px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 60px;
    border: 5px solid #BCAAA4;
    box-shadow: 10px 5px 15px #ccc;
    transition: border 0.3s;
}
.equipe img:hover{
    border: 10px solid #3E2723;

}

/*----- FIM FOTOS -----*/
/*----- MAPA -----*/
.map{text-align: center;
    background: url("../img/mapa.png");
    background-size: cover;
    height: 200px;
    margin-top: 50px;
}
.map button{
    margin-top: 90px;
    padding: 10px;
    color: #fff;
    background-color: #c0392b;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 5px 5px 3px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 1s ease-in-out;
}

.map button i{
    padding-left: 10px;
}
.map button:hover{
    background-color: #fff;
    color:#c0392b ;
}
/*----- FIM MAPA -----*/
/*----- CONTATO -----*/
.contato {
    background-color: #3E2723;
    margin-top: 5px;
    padding-bottom: 20px
}
.contato h2{
    text-align: left;
    font-size: 1.4em;
    color: #fff;
    padding-top:55px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.contato form input{
    margin-bottom: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.contato form input:focus{
    border: 2px solid #BCAAA4;
}

.contato form textarea{
    margin-bottom: 20px;
    width: 100%;
    margin-top: 5px;
    resize: vertical;
    font-size: 1.4em;
    padding-left: 10px;
}
.contato form textarea:focus{
    border: 2px solid #BCAAA4;

}
.contato form input[type="submit"]{
    width: 100px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #3E2723;
    box-shadow: 0px 5px 5px 3px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    padding-left: 0;
    transition: background-color 0.7s;
    border: none;
}
.contato form input[type="submit"]:hover{
    background-color: #3E2723;
    color: #fff;
}
/*----- FIM CONTATO -----*/
/*----- RODAPÉ -----*/
.rodape{
    padding-top: 10px;
    color: #fff;
    padding-bottom: 20px;
    background-color: #3E2723;
    border-top: 1px solid #BCAAA4;
}
.rodape .atendimento i{
    padding-top: 7px;
    width: 100%;
}
.rodape .atendimento i p{
    padding-left: 10px;
}
.rodape .atendimento p{
    display: inline;
}
.rodape .redes-sociais{
    margin-top: 20px;
}
.rodape p{
    padding-bottom: 10px;
}
.rodape .redes-sociais ul li{
    display: inline;
    padding-left: 5px;
    cursor: pointer;
}
.rodape .redes-sociais ul li:first-of-type{
    padding-left: 0px;
}
.rodape .redes-sociais img{
    width: 35px;
}
/*----- FIM RODAPÉ -----*/
/*----- Autor -----*/
.autor{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    text-align: center;
    font-size: 0.8em;
}
.autor ul li img{
    width: 20px;
}
.autor ul li {
    display: inline;
    padding-left: 10px;
    cursor: pointer;
}
.autor ul li:first-of-type{
    padding-left: 0;
}
/*----- FIM Autor -----*/

/*----- INICIO MEDIAS QUERIES -----*/
@media screen and (min-width:480px) {
    .equipe .img-profile{
        width: 40%;
        float: left;
        margin-left: 6%;
    }
    .equipe .img-profile:nth-of-type(2n){
        margin-right: 6%;
        margin-left: 0;
        float: right;
        text-align: center;
    }

}

@media screen and (min-width: 840px) {
    .equipe .content{
        width: 75%;
    }
    .equipe .img-profile{
        width: 30%;
        margin-left: 0;
        margin-right: 5%;
    }
    .equipe .img-profile:nth-of-type(2n){
        margin-right: 5%;
        float: left;
        text-align: center;
    }
    .equipe .img-profile:nth-of-type(3n){
        margin-right: 0;
        margin-left: 0;
        float: left;
        text-align: center;
    }

    header {
        background-color: transparent;
    }

    header .content .clear {
        clear: none;
    }

    header .btn-mobile {
        display: none;
    }

    .header h1 {
        float: left;
    }

    header .menu {
        display: inline-block !important;
        float: right;
        width: 80%;
        margin-top: 30px;
        text-align: right;
    }

    header .content .menu li {
        margin: 0;
        font-size: 1.3em;
        font-weight: 600;
        display: inline;
        border-top: none;
        padding: 0;
        margin-left: 5%;
        transition: color 0.4s;
    }

    header .content .menu li a {
        display: inline !important;
        color: #fff;
        transition: color 0.3s;
    }

    header .content .menu li a:hover {
        color: #3E2723;
    }

    header .content .menu li:hover {

        background-color: inherit;
    }

    .bg {
        background-image: url("../img/igreja.jpeg");
        z-index: 1;
    }

    .apresentacao {
        background-image: none;
    }

    .apresentacao{
        height: 650px;
    }
    .apresentacao .content p{
        padding-top: 400px;
    }
    .bg{
    background-image: url("../img/igreja.jpeg");
    background-size: cover;
    }
    .sobre .content {
        width: 70%;
    }

    .slide-imagens .content {
        width: 70%;
    }
    .agenda .content{
        width: 50%;
    }
    .agenda{
        padding-bottom: 80px;
    }
    .agenda .col1{
        width: 47%;
        float: left;
    }
    .agenda .col2{
        width: 47%;
        float: right;
    }

    .contato .content {
        width: 60%;
    }

    .rodape .content {
        width: 60%;
    }

    .rodape .content {
        margin-top: 20px;
    }

    .rodape .content .atendimento {
        width: 45%;
        float: left;
    }

    .rodape .content .redes-sociais {
        float: right;
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
        header .content{
            width: 76%;
        }
        .sobre .content{
            width: 54%;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .apresentacao .content p{
            font-size: 1.8em;
        }
        .equipe .content{
            width: 60%;
        }
        .contato .content{
            width: 45%;
        }
        .rodape .content{
            width: 45%;
        }
        .map {
            height: 300px;
        }
        .map button{
            margin-top: 140px;
        }
}
@media screen and (min-width: 1500px) {
    .bg{
        background-attachment: fixed;
    }
    .apresentacao .content p{
        padding-top: 500px;
    }
    .apresentacao{
        height: 750px;
    }
    .sobre .content{
        width: 40%;
    }
    .slide-imagens .content{
        width: 50%;
    }
    .passagem-biblica{
        height: 250px;
        background-size: 100%;
    }
    .passagem-biblica  p{
        font-size: 1.6em;
        padding-top: 120px;
    }
    .sobre .content{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contato .content{
        width: 35%;
    }
    .rodape .content{
        width: 35%;
    }
    .equipe .content{
        width: 60%;
    }
    .equipe .img-profile{
        width: 20%;
        margin-left: 0;
        margin-right: 6%;
        padding-bottom: 30px;
     }
    .equipe .img-profile:nth-of-type(3n){
        margin-right: 6%;
        float: left;
    }
    .equipe .img-profile:nth-of-type(3n+2){
        margin-right: 6%;
    }

    .equipe .img-profile:nth-of-type(4n){
        margin-right: 0;
        float: right;

    }

}